version: "3.7"

networks:
  mojaloop-net:
    name: mojaloop-net

services:
  mojaloop-testing-toolkit:
    image: mojaloop/ml-testing-toolkit:v18.11.2
    container_name: mojaloop-testing-toolkit
    volumes:
      - "./docker/ml-testing-toolkit/spec_files:/opt/app/spec_files"
      - "./docker/ml-testing-toolkit/test-cases:/opt/app/examples"
    ports:
      - "9440:4040"
      - "9550:5050"
    user: root
    command:
      - sh
      - -c
      - "npm start"
    networks:
      - mojaloop-net
    healthcheck:
      test: ["CMD-SHELL", "nc -z -v localhost 4040"]
      interval: 5s
      timeout: 10s
      start_period: 10s
      retries: 10
  mojaloop-testing-toolkit-ui:
    image: mojaloop/ml-testing-toolkit-ui:v16.2.0
    container_name: mojaloop-testing-toolkit-ui
    ports:
      - "9660:6060"
    environment:
      - API_BASE_URL=http://localhost:9550
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh
    user: root
    networks:
      - mojaloop-net
  tpp-api-svc:
    container_name: tpp-api-svc
    image: mojaloop/tpp-api-svc:local
    build:
      context: .
    ports:
      - "4003:4003"
    networks:
      - mojaloop-net
    volumes:
      - ./config:/opt/tpp-api-svc/config
    environment:
      - LOG_LEVEL=debug
    healthcheck:
      test: ["CMD", "sh", "-c" ,"apk --no-cache add curl; curl http://localhost:4003/health"]
      timeout: 20s
      retries: 10
      interval: 30s
    user: root